

/*variable des couleurs*/

$grey-fond : #DDDFE8;
$grey-light : #EEECEC;
$grey-txt : #707070;
$grey-blue : #49494A;
$red : #9C2C2C;
$white : #ffffff;
$grey-titre : #5E5D5D;
$polygonHeader: #EEECEC;
$greyPolygonHeader: #49494A;